name  : Deploy web ke server  debian

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: 1945
          script: |
            cd /var/www/teknik.livens.web.id
            git pull origin main

            export COMPOSER_ALLOW_SUPERUSER=1

            composer update --no-interaction --prefer-dist --optimize-autoloader
            php artisan migrate --force
            php artisan optimize

            